<% if (conf.foundation) { %>/*****************************
 *** Foundation components ***
 *****************************/

@import "../bower_components/foundation/scss/normalize";
@import "../bower_components/foundation/scss/foundation/components/grid";
@import "../bower_components/foundation/scss/foundation/components/block-grid";
@import "../bower_components/foundation/scss/foundation/components/breadcrumbs";
@import "../bower_components/foundation/scss/foundation/components/button-groups";
@import "../bower_components/foundation/scss/foundation/components/buttons";
@import "../bower_components/foundation/scss/foundation/components/clearing";
@import "../bower_components/foundation/scss/foundation/components/dropdown";
@import "../bower_components/foundation/scss/foundation/components/dropdown-buttons";
@import "../bower_components/foundation/scss/foundation/components/visibility";
@import "../bower_components/foundation/scss/foundation/components/offcanvas";

/*************
 *** Style ***
 *************/

 /* Start writing your own style here */

<% } %>